[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyter = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
wandb = "*"
matplotlib = "*"
mir-eval = "*"
pyfluidsynth = "*"
pyaudio = "*"
music21 = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.11"
